.input-form-wrapper {
  margin: 20px auto;
  width: 320px;
}

.recipe-name {
  margin-right: 10px;
}

.text-position {
  text-align: left;
}

.box-layout {
    line-height: 2.5;
    margin-bottom: 30px;
}
